<!-- This page is the front-end website -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>The Beautiful Game</h1>
    <form action="/players" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="club" name="club" />
      <button type="submit" class="submitButton">Submit</button>
    </form>

    <h2>Players</h2>

    <ul class="players">
      <% for (var i = 0; i < players.length; i++) {%>
      <li class="players">
        <span><%= players[i].name %></span>:
        <span><%= players[i].club %></span>
        <button
          class="dataDeleteNameButton"
          data-id="<%=players[i]._id%>"
        >
          Delete
        </button>
      </li>
      <% } %>
    </ul>

    <script
      type="text/javascript"
      src="../client-side-soccer-player/js/main.js"
    >
    </script>
  </body>
</html>
