* {
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #bbb;
  height: 15vh;
  clear: both;
}

footer {
  border-top: 1px solid #bbb;
  height: 15vh;
  clear: both;
}

section {
  border-right: 1px solid #bbb;
  float: left;
  height: 70vh;
  width: 20%;
}

section:nth-child(2) {
  width: 40%;
}

section:last-child {
  border-right: none;
}
