* {
  box-sizing: border-box;
}

header {
  height: 20vh;
  border-bottom: 1px solid #ddd;
  clear: both;
}

footer {
    height: 20vh;
    border-top: 1px solid #ddd;
    clear: both;
  }

.row1 {
  height: 25vh;
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
}

.row2 {
  height: 30vh;
  border-right: 1px solid #ddd;
  float: left;
  width: 40%;
}

section:last-child {
    width: 60%;
    border-right: none;
}